In [5]:
import pymysql
import pandas as pd

host="stock-data-analysis.ciuxgx1cjbsw.us-east-2.rds.amazonaws.com"

port=3306

dbname="stock_data"

user="ucbx"

password="Welcome123"

In [3]:
conn = pymysql.connect(host, user=user,port=port,passwd=password, db=dbname)

In [11]:
pd.read_sql('select * from sandp_stocks;', con=conn)

,index,security,symbol,sec_filing,gics_sector,gics_sub_industry,hq_location,date_added,cik,year_founded
0,1,3M Company,MMM,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",None,0000066740,1902
1,2,Abbott Laboratories,ABT,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,0000001800,1888
2,3,AbbVie Inc.,ABBV,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
3,4,ABIOMED Inc,ABMD,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,0000815094,1981
4,5,Accenture plc,ACN,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
5,6,Activision Blizzard,ATVI,reports,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,0000718877,2008
6,7,Adobe Systems Inc,ADBE,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,0000796343,1982
7,8,Advanced Micro Devices Inc,AMD,reports,Information Technology,Semiconductors,"Sunnyvale, California",2017-03-20,0000002488,1969
8,9,Advance Auto Parts,AAP,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,0001158449,1932
9,10,AES Corp,AES,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,0000874761,1981
10,11,Affiliated Managers Group Inc,AMG,reports,Financials,Asset Management & Custody Banks,"Beverly, Massachusetts",2014-07-01,0001004434,1993
11,12,AFLAC Inc,AFL,reports,Financials,Life & Health Insurance,"Columbus, Georgia",1999-05-28,0000004977,1955
12,13,Agilent Technologies Inc,A,reports,Health Care,Health Care Equipment,"Santa Clara, California",2000-06-05,0001090872,1999
13,14,Air Products & Chemicals Inc,APD,reports,Materials,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,0000002969,1940
14,15,Akamai Technologies Inc,AKAM,reports,Information Technology,Internet Services & Infrastructure,"Cambridge, Massachusetts",2007-07-12,0001086222,1998
15,16,Alaska Air Group Inc,ALK,reports,Industrials,Airlines,"Seattle, Washington",2016-05-13,0000766421,1985
16,17,Albemarle Corp,ALB,reports,Materials,Specialty Chemicals,"Baton Rouge, Louisiana",2016-07-01,0000915913,1994
17,18,Alexandria Real Estate Equities,ARE,reports,Real Estate,Office REITs,"Pasadena, California",2017-03-20,0001035443,1994
18,19,Alexion Pharmaceuticals,ALXN,reports,Health Care,Biotechnology,"Cheshire, Connecticut",2012-05-25,0000899866,1992
19,20,Align Technology,ALGN,reports,Health Care,Health Care Supplies,"San Jose, California",2017-06-19,0001097149,1997
20,21,Allegion,ALLE,reports,Industrials,Building Products,"Dublin, Ireland",2013-12-02,0001579241,1908
21,22,"Allergan, Plc",AGN,reports,Health Care,Pharmaceuticals,"Dublin, Ireland",1999-04-12,0001578845,1983
22,23,Alliance Data Systems,ADS,reports,Information Technology,Data Processing & Outsourced Services,"Plano, Texas",2013-12-23,0001101215,1996
23,24,Alliant Energy Corp,LNT,reports,Utilities,Electric Utilities,"Madison, Wisconsin",2016-07-01,0000352541,1917
24,25,Allstate Corp,ALL,reports,Financials,Property & Casualty Insurance,"Northfield Township, Illinois",1995-07-13,0000899051,1931
25,26,Alphabet Inc Class A,GOOGL,reports,Communication Services,Interactive Media & Services,"Mountain View, California",2014-04-03,0001652044,1998
26,27,Alphabet Inc Class C,GOOG,reports,Communication Services,Interactive Media & Services,"Mountain View, California",2006-04-03,0001652044,1998
27,28,Altria Group Inc,MO,reports,Consumer Staples,Tobacco,"Richmond, Virginia",None,0000764180,1985
28,29,Amazon.com Inc.,AMZN,reports,Consumer Discretionary,Internet & Direct Marketing Retail,"Seattle, Washington",2005-11-18,0001018724,1994
29,30,Ameren Corp,AEE,reports,Utilities,Multi-Utilities,"St. Louis, Missouri",1991-09-19,0001002910,1902
...,...,...,...,...,...,...,...,...,...,...
475,476,Vertex Pharmaceuticals Inc,VRTX,reports,Health Care,Biotechnology,"Cambridge, Massachusetts",2013-09-23,0000875320,None
476,477,Viacom Inc.,VIAB,reports,Communication Services,Movies & Entertainment,"New York, New York",None,0001339947,None
477,478,Visa Inc.,V,reports,Information Technology,Internet Software & Services,"San Francisco, California",2009-12-21,0001403161,None
478,479,Vornado Realty Trust,VNO,reports,Real Estate,Office REITs,"New York, New York",None,0000899689,None
479,480,Vulcan Materials,VMC,reports,Materials,Construction Materials,"Birmingham, Alabama",1999-06-30,0001396009,None
480,481,Walmart,WMT,reports,Consumer Staples,Hypermarkets & Super Centers,"Bentonville, Arkansas",1982-08-31,0000104169,None
481,482,Walgreens Boots Alliance,WBA,reports,Consumer Staples,Drug Retail,"Deerfield, Illinois",1979-12-31,0001618921,None
482,483,The Walt Disney Company,DIS,reports,Communication Services,Movies & Entertainment,"Burbank, California",1976-06-30,0001001039,None
483,484,Waste Management Inc.,WM,reports,Industrials,Environmental & Facilities Services,"Houston, Texas",None,0000823768,1968
484,485,Waters Corporation,WAT,reports,Health Care,Health Care Distributors,"Milford, Massachusetts",None,0001000697,1958
485,486,Wec Energy Group Inc,WEC,reports,Utilities,Electric Utilities,"Milwaukee, Wisconsin",2008-10-31,0000783325,None
486,487,WellCare,WCG,reports,Health Care,Managed Health Care,"Tampa, Florida",1985,0001279363,None
487,488,Wells Fargo,WFC,reports,Financials,Diversified Banks,"San Francisco, California",1976-06-30,0000072971,None
488,489,Welltower Inc.,WELL,reports,Real Estate,Health Care REITs,"Toledo, Ohio",2009-01-30,0000766704,None
489,490,Western Digital,WDC,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Irvine, California",2009-07-01,0000106040,None
490,491,Western Union Co,WU,reports,Information Technology,Internet Software & Services,"Englewood, Colorado",None,0001365135,1851
491,492,WestRock,WRK,reports,Materials,Paper Packaging,"Richmond, Virginia",None,0001636023,None
492,493,Weyerhaeuser,WY,reports,Real Estate,Specialized REITs,"Federal Way, Washington",None,0000106535,None
493,494,Whirlpool Corp.,WHR,reports,Consumer Discretionary,Household Appliances,"Benton Harbor, Michigan",None,0000106640,1911
494,495,Williams Cos.,WMB,reports,Energy,Oil & Gas Storage & Transportation,"Tulsa, Oklahoma",1975-03-31,0000107263,None
495,496,Willis Towers Watson,WLTW,reports,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,0001140536,None
496,497,Wynn Resorts Ltd,WYNN,reports,Consumer Discretionary,Casinos & Gaming,"Paradise, Nevada",2008-11-14,0001174922,None
497,498,Xcel Energy Inc,XEL,reports,Utilities,Multi-Utilities,"Minneapolis, Minnesota",None,0000072903,1909
498,499,Xerox,XRX,reports,Information Technology,"Technology Hardware, Storage & Peripherals","Norwalk, Connecticut",None,0000108772,1906
499,500,Xilinx,XLNX,reports,Information Technology,Semiconductors,"San Jose, California",1999-11-08,0000743988,None
500,501,Xylem Inc.,XYL,reports,Industrials,Industrial Machinery,"White Plains, New York",2011-11-01,0001524472,None
501,502,Yum! Brands Inc,YUM,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,None
502,503,Zimmer Biomet Holdings,ZBH,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,None
503,504,Zions Bancorp,ZION,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380,None
504,505,Zoetis,ZTS,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,0001555280,None

In [7]:
pd.read_sql('select * from sandp_stocks;', con=conn)

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,206.4600,208.9700,206.0000,208.8600,208.8600,2000278,0.0000,1.0000
1,MMM,2019-02-14,206.5900,207.1200,204.0500,204.9300,204.9300,2229753,1.4400,1.0000
2,MMM,2019-02-13,207.0900,210.4000,206.5900,209.7200,208.2566,2967332,0.0000,1.0000
3,MMM,2019-02-12,202.8700,206.7900,202.1900,206.5700,205.1286,2622973,0.0000,1.0000
4,MMM,2019-02-11,200.9300,201.2000,199.6400,200.9100,199.5081,1513457,0.0000,1.0000
5,MMM,2019-02-08,199.2200,199.8500,197.9000,199.8200,198.4257,1451833,0.0000,1.0000
6,MMM,2019-02-07,201.0200,202.4000,198.8550,199.8400,198.4456,1949371,0.0000,1.0000
7,MMM,2019-02-06,201.2200,203.0800,200.2500,202.5700,201.1565,1672422,0.0000,1.0000
8,MMM,2019-02-05,200.7200,201.1300,199.7252,201.1200,199.7166,2036879,0.0000,1.0000
9,MMM,2019-02-04,199.0100,200.2600,196.2500,200.2100,198.8130,1973572,0.0000,1.0000
10,MMM,2019-02-01,201.4900,201.7700,198.2900,199.1600,197.7703,2239400,0.0000,1.0000
11,MMM,2019-01-31,198.8000,200.8900,197.7400,200.3000,198.9024,3338363,0.0000,1.0000
12,MMM,2019-01-30,198.2200,200.1100,194.6300,199.2700,197.8795,2168133,0.0000,1.0000
13,MMM,2019-01-29,195.0100,199.8900,194.2000,196.9500,195.5757,4311097,0.0000,1.0000
14,MMM,2019-01-28,193.1400,193.4500,191.0700,193.2000,191.8519,3156986,0.0000,1.0000
15,MMM,2019-01-25,194.7200,197.1600,194.4600,195.9000,194.5331,2320397,0.0000,1.0000
16,MMM,2019-01-24,192.2600,193.1650,191.5100,192.5200,191.1766,1582949,0.0000,1.0000
17,MMM,2019-01-23,192.6300,194.0000,190.2750,192.2900,190.9482,1653006,0.0000,1.0000
18,MMM,2019-01-22,194.2200,194.4900,190.4300,192.2600,190.9185,2709562,0.0000,1.0000
19,MMM,2019-01-18,194.3400,196.4000,192.3600,195.8600,194.4933,2746603,0.0000,1.0000
20,MMM,2019-01-17,188.5600,192.9000,187.8950,191.7100,190.3723,1978891,0.0000,1.0000
21,MMM,2019-01-16,188.5100,190.4400,188.4200,189.4800,188.1579,2492126,0.0000,1.0000
22,MMM,2019-01-15,188.8400,190.6761,187.8600,188.9400,187.6216,2737349,0.0000,1.0000
23,MMM,2019-01-14,190.6400,192.8300,189.8000,192.1700,190.8291,1914426,0.0000,1.0000
24,MMM,2019-01-11,191.8400,192.6900,190.8600,192.2100,190.8688,2360186,0.0000,1.0000
25,MMM,2019-01-10,190.8700,193.8100,189.4000,193.6000,192.2491,1939317,0.0000,1.0000
26,MMM,2019-01-09,193.2500,193.9400,191.3816,192.3000,190.9582,2163815,0.0000,1.0000
27,MMM,2019-01-08,193.0000,194.1100,189.5800,191.6800,190.3425,2479787,0.0000,1.0000
28,MMM,2019-01-07,191.3600,192.3000,188.6600,190.8800,189.5481,2162158,0.0000,1.0000
29,MMM,2019-01-04,186.7500,191.9800,186.0300,191.3200,189.9850,2995052,0.0000,1.0000
...,...,...,...,...,...,...,...,...,...,...
70,MMM,2018-11-02,193.6600,194.4700,191.6000,192.8100,190.1630,3069676,0.0000,1.0000
71,MMM,2018-11-01,190.6100,193.2100,190.0900,192.2200,189.5811,2242755,0.0000,1.0000
72,MMM,2018-10-31,190.7000,192.1200,189.6650,190.2600,187.6480,2845097,0.0000,1.0000
73,MMM,2018-10-30,186.8300,190.0800,185.0000,189.8100,187.2042,2919609,0.0000,1.0000
74,MMM,2018-10-29,187.8500,188.8800,183.1600,185.7900,183.2394,2867556,0.0000,1.0000
75,MMM,2018-10-26,183.3100,186.6550,181.9800,184.9500,182.4109,3546243,0.0000,1.0000
76,MMM,2018-10-25,186.5700,187.4800,182.3600,184.9900,182.4503,3535175,0.0000,1.0000
77,MMM,2018-10-24,192.1000,192.9600,183.9700,184.5400,182.0065,5003514,0.0000,1.0000
78,MMM,2018-10-23,188.8000,194.8900,184.5000,192.5500,189.9066,8255600,0.0000,1.0000
79,MMM,2018-10-22,201.2500,203.4000,199.6900,201.3600,198.5956,3263250,0.0000,1.0000
80,MMM,2018-10-19,200.1200,201.1000,198.3700,199.8500,197.1063,3167309,0.0000,1.0000
81,MMM,2018-10-18,202.3400,202.5200,198.4000,200.3800,197.6291,2339494,0.0000,1.0000
82,MMM,2018-10-17,201.7900,203.7700,200.4450,202.9300,200.1441,1824202,0.0000,1.0000
83,MMM,2018-10-16,200.4600,202.5200,199.2300,202.3300,199.5523,1939519,0.0000,1.0000
84,MMM,2018-10-15,197.8200,200.7000,197.4185,198.9400,196.2088,1812792,0.0000,1.0000
85,MMM,2018-10-12,200.8700,202.5500,195.9300,198.2300,195.5086,2798116,0.0000,1.0000
86,MMM,2018-10-11,201.1500,202.9100,196.5000,196.7300,194.0292,3497220,0.0000,1.0000
87,MMM,2018-10-10,209.1900,209.1900,201.5500,202.1500,199.3748,3525211,0.0000,1.0000
88,MMM,2018-10-09,212.6800,213.1100,209.6350,210.4200,207.5312,2947478,0.0000,1.0000
89,MMM,2018-10-08,213.1300,214.5800,212.2600,214.3700,211.4270,1666709,0.0000,1.0000
90,MMM,2018-10-05,214.3500,215.0300,211.0600,213.1900,210.2632,2140502,0.0000,1.0000
91,MMM,2018-10-04,214.8500,215.6600,212.0350,213.8400,210.9043,1682524,0.0000,1.0000
92,MMM,2018-10-03,216.0000,217.3400,214.9400,215.7600,212.7979,2139342,0.0000,1.0000
93,MMM,2018-10-02,212.3800,215.8400,212.1000,215.7100,212.7486,1749361,0.0000,1.0000
94,MMM,2018-10-01,212.4000,213.4000,211.3100,212.1900,209.2769,1829020,0.0000,1.0000
95,MMM,2018-09-28,209.5300,211.2750,208.8700,210.7100,207.8172,2500188,0.0000,1.0000
96,MMM,2018-09-27,212.0000,212.8700,210.0000,210.1100,207.2255,1609765,0.0000,1.0000
97,MMM,2018-09-26,211.4900,212.5900,210.6400,211.0700,208.1723,1677749,0.0000,1.0000
98,MMM,2018-09-25,214.1300,214.1300,210.2800,210.6400,207.7482,2090572,0.0000,1.0000
99,MMM,2018-09-24,215.3900,215.8650,212.6900,213.5100,210.5788,2044993,0.0000,1.0000

In [12]:
pd.read_sql('select distinct symbol AS "Distinct symbols" from stock_daily_adjusted;', con=conn)

    Distinct symbols
0                MMM
1                ABT
2               ABBV
3               ABMD
4                ACN
5               ATVI
6               ADBE
7                AMD
8                AAP
9                AES
10               AMG
11               AFL
12                 A
13               APD
14              AKAM
15               ALK
16               ALB
17               ARE
18              ALXN
19              ALGN
20              ALLE
21               AGN
22               ADS
23               LNT
24               ALL
25             GOOGL
26              GOOG
27                MO
28              AMZN
29               AEE
..               ...
475              VMC
476              WMT
477              WBA
478              DIS
479               WM
480              WAT
481              WEC
482              WCG
483              WFC
484             WELL
485              WDC
486               WU
487              WRK
488               WY
489              WHR
490              WMB
491             WLTW
492             WYNN
493              XEL
494              XRX
495             XLNX
496              XYL
497              YUM
498              ZBH
499             ZION
500               CE
501              FLT
502              LOW
503             REGN
504              ZTS

[505 rows x 1 columns]

In [13]:
pd.read_sql('select * from stock_daily_adjusted;', con=conn)

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,206.4600,208.9700,206.0000,208.8600,208.8600,2000278,0.0000,1.0000
1,MMM,2019-02-14,206.5900,207.1200,204.0500,204.9300,204.9300,2229753,1.4400,1.0000
2,MMM,2019-02-13,207.0900,210.4000,206.5900,209.7200,208.2566,2967332,0.0000,1.0000
3,MMM,2019-02-12,202.8700,206.7900,202.1900,206.5700,205.1286,2622973,0.0000,1.0000
4,MMM,2019-02-11,200.9300,201.2000,199.6400,200.9100,199.5081,1513457,0.0000,1.0000
5,MMM,2019-02-08,199.2200,199.8500,197.9000,199.8200,198.4257,1451833,0.0000,1.0000
6,MMM,2019-02-07,201.0200,202.4000,198.8550,199.8400,198.4456,1949371,0.0000,1.0000
7,MMM,2019-02-06,201.2200,203.0800,200.2500,202.5700,201.1565,1672422,0.0000,1.0000
8,MMM,2019-02-05,200.7200,201.1300,199.7252,201.1200,199.7166,2036879,0.0000,1.0000
9,MMM,2019-02-04,199.0100,200.2600,196.2500,200.2100,198.8130,1973572,0.0000,1.0000
10,MMM,2019-02-01,201.4900,201.7700,198.2900,199.1600,197.7703,2239400,0.0000,1.0000
11,MMM,2019-01-31,198.8000,200.8900,197.7400,200.3000,198.9024,3338363,0.0000,1.0000
12,MMM,2019-01-30,198.2200,200.1100,194.6300,199.2700,197.8795,2168133,0.0000,1.0000
13,MMM,2019-01-29,195.0100,199.8900,194.2000,196.9500,195.5757,4311097,0.0000,1.0000
14,MMM,2019-01-28,193.1400,193.4500,191.0700,193.2000,191.8519,3156986,0.0000,1.0000
15,MMM,2019-01-25,194.7200,197.1600,194.4600,195.9000,194.5331,2320397,0.0000,1.0000
16,MMM,2019-01-24,192.2600,193.1650,191.5100,192.5200,191.1766,1582949,0.0000,1.0000
17,MMM,2019-01-23,192.6300,194.0000,190.2750,192.2900,190.9482,1653006,0.0000,1.0000
18,MMM,2019-01-22,194.2200,194.4900,190.4300,192.2600,190.9185,2709562,0.0000,1.0000
19,MMM,2019-01-18,194.3400,196.4000,192.3600,195.8600,194.4933,2746603,0.0000,1.0000
20,MMM,2019-01-17,188.5600,192.9000,187.8950,191.7100,190.3723,1978891,0.0000,1.0000
21,MMM,2019-01-16,188.5100,190.4400,188.4200,189.4800,188.1579,2492126,0.0000,1.0000
22,MMM,2019-01-15,188.8400,190.6761,187.8600,188.9400,187.6216,2737349,0.0000,1.0000
23,MMM,2019-01-14,190.6400,192.8300,189.8000,192.1700,190.8291,1914426,0.0000,1.0000
24,MMM,2019-01-11,191.8400,192.6900,190.8600,192.2100,190.8688,2360186,0.0000,1.0000
25,MMM,2019-01-10,190.8700,193.8100,189.4000,193.6000,192.2491,1939317,0.0000,1.0000
26,MMM,2019-01-09,193.2500,193.9400,191.3816,192.3000,190.9582,2163815,0.0000,1.0000
27,MMM,2019-01-08,193.0000,194.1100,189.5800,191.6800,190.3425,2479787,0.0000,1.0000
28,MMM,2019-01-07,191.3600,192.3000,188.6600,190.8800,189.5481,2162158,0.0000,1.0000
29,MMM,2019-01-04,186.7500,191.9800,186.0300,191.3200,189.9850,2995052,0.0000,1.0000
...,...,...,...,...,...,...,...,...,...,...
2362951,ZTS,2013-03-15,34.7000,34.8400,33.3100,33.4400,31.8740,2692100,0.0000,1.0000
2362952,ZTS,2013-03-14,34.3300,35.4200,34.2978,34.6400,33.0178,1865200,0.0000,1.0000
2362953,ZTS,2013-03-13,33.9000,34.0600,33.0800,34.0000,32.4078,2240800,0.0000,1.0000
2362954,ZTS,2013-03-12,34.1200,34.2450,33.6000,33.8200,32.2362,1557600,0.0000,1.0000
2362955,ZTS,2013-03-11,33.9700,34.2600,33.2500,34.1800,32.5794,1729400,0.0000,1.0000
2362956,ZTS,2013-03-08,34.0300,34.6900,33.8000,34.0900,32.4936,1541100,0.0000,1.0000
2362957,ZTS,2013-03-07,33.9500,34.6800,33.5600,34.5600,32.9416,1320000,0.0000,1.0000
2362958,ZTS,2013-03-06,34.3400,34.3800,33.8500,33.8500,32.2648,802000,0.0000,1.0000
2362959,ZTS,2013-03-05,34.4100,34.4800,33.7500,34.2900,32.6842,1413400,0.0000,1.0000
2362960,ZTS,2013-03-04,34.8000,34.8900,34.2350,34.3500,32.7414,865400,0.0000,1.0000
2362961,ZTS,2013-03-01,33.3600,34.7000,33.1500,34.6000,32.9797,2334000,0.0000,1.0000
2362962,ZTS,2013-02-28,32.5600,33.5500,32.5600,33.4500,31.8836,2991400,0.0000,1.0000
2362963,ZTS,2013-02-27,32.0000,33.0500,32.0000,32.3200,30.8065,1343600,0.0000,1.0000
2362964,ZTS,2013-02-26,32.0500,32.4000,31.9900,32.0400,30.5396,1048700,0.0000,1.0000
2362965,ZTS,2013-02-25,32.6800,32.6900,32.0000,32.0700,30.5682,818900,0.0000,1.0000
2362966,ZTS,2013-02-22,32.7800,32.9300,32.5000,32.5900,31.0638,954500,0.0000,1.0000
2362967,ZTS,2013-02-21,32.5000,32.8000,31.8600,32.5600,31.0352,3242300,0.0000,1.0000
2362968,ZTS,2013-02-20,33.8400,33.8800,32.6000,32.7200,31.1877,1842900,0.0000,1.0000
2362969,ZTS,2013-02-19,34.0200,34.0700,33.5700,33.8400,32.2553,1206900,0.0000,1.0000
2362970,ZTS,2013-02-15,33.3100,34.0900,33.0000,33.9800,32.3887,5415400,0.0000,1.0000
2362971,ZTS,2013-02-14,33.3900,33.4500,32.7700,33.2700,31.7120,2954500,0.0000,1.0000
2362972,ZTS,2013-02-13,33.8000,33.8000,33.0000,33.5500,31.9789,1269700,0.0000,1.0000
2362973,ZTS,2013-02-12,33.4000,34.0000,33.1500,33.7400,32.1600,1637300,0.0000,1.0000
2362974,ZTS,2013-02-11,33.0600,33.5000,32.8800,33.2600,31.7024,1487200,0.0000,1.0000
2362975,ZTS,2013-02-08,32.3100,33.4800,32.3000,33.0500,31.5023,2599300,0.0000,1.0000
2362976,ZTS,2013-02-07,31.0000,32.7300,31.0000,32.0000,30.5015,3800800,0.0000,1.0000
2362977,ZTS,2013-02-06,30.9800,31.4300,30.7500,31.0300,29.5769,2126100,0.0000,1.0000
2362978,ZTS,2013-02-05,31.2500,31.9800,30.8500,31.0400,29.5864,5013200,0.0000,1.0000
2362979,ZTS,2013-02-04,31.0900,31.9900,30.7600,31.0200,29.5673,7695400,0.0000,1.0000
2362980,ZTS,2013-02-01,31.5000,31.7400,30.4700,31.0100,29.5578,66789100,0.0000,1.0000

In [10]:
pd.read_sql('select * from stock_daily_adjusted limit 100;', con=conn)

,symbol,date,open,high,low,close,adjusted_close,volume,divident_amount,split_coeff
0,MMM,2019-02-15,206.4600,208.9700,206.0000,208.8600,208.8600,2000278,0.0000,1.0000
1,MMM,2019-02-14,206.5900,207.1200,204.0500,204.9300,204.9300,2229753,1.4400,1.0000
2,MMM,2019-02-13,207.0900,210.4000,206.5900,209.7200,208.2566,2967332,0.0000,1.0000
3,MMM,2019-02-12,202.8700,206.7900,202.1900,206.5700,205.1286,2622973,0.0000,1.0000
4,MMM,2019-02-11,200.9300,201.2000,199.6400,200.9100,199.5081,1513457,0.0000,1.0000
5,MMM,2019-02-08,199.2200,199.8500,197.9000,199.8200,198.4257,1451833,0.0000,1.0000
6,MMM,2019-02-07,201.0200,202.4000,198.8550,199.8400,198.4456,1949371,0.0000,1.0000
7,MMM,2019-02-06,201.2200,203.0800,200.2500,202.5700,201.1565,1672422,0.0000,1.0000
8,MMM,2019-02-05,200.7200,201.1300,199.7252,201.1200,199.7166,2036879,0.0000,1.0000
9,MMM,2019-02-04,199.0100,200.2600,196.2500,200.2100,198.8130,1973572,0.0000,1.0000
10,MMM,2019-02-01,201.4900,201.7700,198.2900,199.1600,197.7703,2239400,0.0000,1.0000
11,MMM,2019-01-31,198.8000,200.8900,197.7400,200.3000,198.9024,3338363,0.0000,1.0000
12,MMM,2019-01-30,198.2200,200.1100,194.6300,199.2700,197.8795,2168133,0.0000,1.0000
13,MMM,2019-01-29,195.0100,199.8900,194.2000,196.9500,195.5757,4311097,0.0000,1.0000
14,MMM,2019-01-28,193.1400,193.4500,191.0700,193.2000,191.8519,3156986,0.0000,1.0000
15,MMM,2019-01-25,194.7200,197.1600,194.4600,195.9000,194.5331,2320397,0.0000,1.0000
16,MMM,2019-01-24,192.2600,193.1650,191.5100,192.5200,191.1766,1582949,0.0000,1.0000
17,MMM,2019-01-23,192.6300,194.0000,190.2750,192.2900,190.9482,1653006,0.0000,1.0000
18,MMM,2019-01-22,194.2200,194.4900,190.4300,192.2600,190.9185,2709562,0.0000,1.0000
19,MMM,2019-01-18,194.3400,196.4000,192.3600,195.8600,194.4933,2746603,0.0000,1.0000
20,MMM,2019-01-17,188.5600,192.9000,187.8950,191.7100,190.3723,1978891,0.0000,1.0000
21,MMM,2019-01-16,188.5100,190.4400,188.4200,189.4800,188.1579,2492126,0.0000,1.0000
22,MMM,2019-01-15,188.8400,190.6761,187.8600,188.9400,187.6216,2737349,0.0000,1.0000
23,MMM,2019-01-14,190.6400,192.8300,189.8000,192.1700,190.8291,1914426,0.0000,1.0000
24,MMM,2019-01-11,191.8400,192.6900,190.8600,192.2100,190.8688,2360186,0.0000,1.0000
25,MMM,2019-01-10,190.8700,193.8100,189.4000,193.6000,192.2491,1939317,0.0000,1.0000
26,MMM,2019-01-09,193.2500,193.9400,191.3816,192.3000,190.9582,2163815,0.0000,1.0000
27,MMM,2019-01-08,193.0000,194.1100,189.5800,191.6800,190.3425,2479787,0.0000,1.0000
28,MMM,2019-01-07,191.3600,192.3000,188.6600,190.8800,189.5481,2162158,0.0000,1.0000
29,MMM,2019-01-04,186.7500,191.9800,186.0300,191.3200,189.9850,2995052,0.0000,1.0000
...,...,...,...,...,...,...,...,...,...,...
70,MMM,2018-11-02,193.6600,194.4700,191.6000,192.8100,190.1630,3069676,0.0000,1.0000
71,MMM,2018-11-01,190.6100,193.2100,190.0900,192.2200,189.5811,2242755,0.0000,1.0000
72,MMM,2018-10-31,190.7000,192.1200,189.6650,190.2600,187.6480,2845097,0.0000,1.0000
73,MMM,2018-10-30,186.8300,190.0800,185.0000,189.8100,187.2042,2919609,0.0000,1.0000
74,MMM,2018-10-29,187.8500,188.8800,183.1600,185.7900,183.2394,2867556,0.0000,1.0000
75,MMM,2018-10-26,183.3100,186.6550,181.9800,184.9500,182.4109,3546243,0.0000,1.0000
76,MMM,2018-10-25,186.5700,187.4800,182.3600,184.9900,182.4503,3535175,0.0000,1.0000
77,MMM,2018-10-24,192.1000,192.9600,183.9700,184.5400,182.0065,5003514,0.0000,1.0000
78,MMM,2018-10-23,188.8000,194.8900,184.5000,192.5500,189.9066,8255600,0.0000,1.0000
79,MMM,2018-10-22,201.2500,203.4000,199.6900,201.3600,198.5956,3263250,0.0000,1.0000
80,MMM,2018-10-19,200.1200,201.1000,198.3700,199.8500,197.1063,3167309,0.0000,1.0000
81,MMM,2018-10-18,202.3400,202.5200,198.4000,200.3800,197.6291,2339494,0.0000,1.0000
82,MMM,2018-10-17,201.7900,203.7700,200.4450,202.9300,200.1441,1824202,0.0000,1.0000
83,MMM,2018-10-16,200.4600,202.5200,199.2300,202.3300,199.5523,1939519,0.0000,1.0000
84,MMM,2018-10-15,197.8200,200.7000,197.4185,198.9400,196.2088,1812792,0.0000,1.0000
85,MMM,2018-10-12,200.8700,202.5500,195.9300,198.2300,195.5086,2798116,0.0000,1.0000
86,MMM,2018-10-11,201.1500,202.9100,196.5000,196.7300,194.0292,3497220,0.0000,1.0000
87,MMM,2018-10-10,209.1900,209.1900,201.5500,202.1500,199.3748,3525211,0.0000,1.0000
88,MMM,2018-10-09,212.6800,213.1100,209.6350,210.4200,207.5312,2947478,0.0000,1.0000
89,MMM,2018-10-08,213.1300,214.5800,212.2600,214.3700,211.4270,1666709,0.0000,1.0000
90,MMM,2018-10-05,214.3500,215.0300,211.0600,213.1900,210.2632,2140502,0.0000,1.0000
91,MMM,2018-10-04,214.8500,215.6600,212.0350,213.8400,210.9043,1682524,0.0000,1.0000
92,MMM,2018-10-03,216.0000,217.3400,214.9400,215.7600,212.7979,2139342,0.0000,1.0000
93,MMM,2018-10-02,212.3800,215.8400,212.1000,215.7100,212.7486,1749361,0.0000,1.0000
94,MMM,2018-10-01,212.4000,213.4000,211.3100,212.1900,209.2769,1829020,0.0000,1.0000
95,MMM,2018-09-28,209.5300,211.2750,208.8700,210.7100,207.8172,2500188,0.0000,1.0000
96,MMM,2018-09-27,212.0000,212.8700,210.0000,210.1100,207.2255,1609765,0.0000,1.0000
97,MMM,2018-09-26,211.4900,212.5900,210.6400,211.0700,208.1723,1677749,0.0000,1.0000
98,MMM,2018-09-25,214.1300,214.1300,210.2800,210.6400,207.7482,2090572,0.0000,1.0000
99,MMM,2018-09-24,215.3900,215.8650,212.6900,213.5100,210.5788,2044993,0.0000,1.0000