In [1]:
# Import Dependencies
import pandas as pd

In [2]:
bitcoin_csv = "Resources/bitcoin_cash_price.csv"
dash_csv = "Resources/dash_price.csv"

In [3]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [4]:
bitcoin_df.head()

        Date    Open    High     Low   Close       Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000.0  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000.0  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000.0  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000.0  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000.0  8,445,540,000

In [5]:
dash_df.head()

        Date    Open    High     Low   Close      Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600.0  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600.0  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500.0  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800.0  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500.0  2,452,930,000

In [12]:
# Merge the two DataFrames together based on the Dates they share
merged_table = pd.DataFrame.merge(bitcoin_df,dash_df, on="Date")
merged_table.head(5)

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [18]:
# Rename columns so that they are differentiated

merged_table = merged_table.rename(columns={"Open_x":"Open_BTC","High_x":"High_BTC","Low_x":"Low_BTC","Close_x":"Close_BTC","Volume_x":"Volumne_BTC","Market Cap_x":"Market Cap_BTC","Open_y":"Open_Dash","High_y":"High_Dash","Low_y":"Low_Dash","Close_y":"Close_Dash","Volume_y":"Volumne_Dash","Market Cap_y":"Market Cap_Dash"

})
merged_table.head()

,Date,Open_Bitcoin,High_Bitcoin,Low_Bitcoin,Close_Bitcoin,Volumne_Bitcoin,Market Cap_Bitcoin,Open_Dash,High_Dash,Low_Dash,Close_Dash,Volumne_Dash,Market Cap_Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [20]:
# alternatively you can set your suffixes when the merge occurs

merged_table_suff = pd.DataFrame.merge(bitcoin_df,dash_df, on="Date",suffixes=(" Bitcoin"," Dash"))
merged_table_suff.head(5)

,Date,Open Bitcoin,High Bitcoin,Low Bitcoin,Close Bitcoin,Volume Bitcoin,Market Cap Bitcoin,Open Dash,High Dash,Low Dash,Close Dash,Volume Dash,Market Cap Dash
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000.0,"7,279,520,000",298.59,315.58,278.17,313.84,38081600.0,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000.0,"7,039,590,000",284.50,301.23,276.57,298.86,43702600.0,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000.0,"6,126,800,000",236.05,300.11,220.51,284.36,72695500.0,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000.0,"8,359,650,000",301.11,303.74,236.24,236.24,35013800.0,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000.0,"8,445,540,000",324.72,325.16,287.25,301.29,28322500.0,"2,452,930,000"

In [25]:
# Collecting best open for Bitcoin and Dash

btcmaxopen = merged_table_suff["Open Bitcoin"].max()
dashmaxopen = merged_table_suff["Open Dash"].max()
# Collecting best close for Bitcoin and Dash
btcmaxclose = merged_table_suff["Close Bitcoin"].max()
Dashmaxclose = merged_table_suff["Close Dash"].max()

# Collecting the total volume for Bitcoin and Dash
BTC_volume = round(merged_table_suff["Volume Bitcoin"].sum()/1000000,1)
Dash_volume = round(merged_table_suff["Volume Dash"].sum()/1000000,1)

In [41]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Best BTC Open": [btcmaxopen],
                           "Best BTC Close": [btcmaxclose],
                           "BTC Volumne": [BTC_volume],
                          "Best Dash Open": [dashmaxopen],
                            "Best Dash Close": [Dashmaxclose],
                           "Dash Volumn": [Dash_volume]})

summary_df.head()

,Best BTC Open,Best BTC Close,BTC Volumne,Best Dash Open,Best Dash Close,Dash Volumn
0,772.42,754.56,24383.0,400.42,399.85,2960.3